@import "tailwindcss";
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";

@theme {
    --color-brandBlue: #0096C8;
    --color-brandBlueDark: #005A8C;
    --color-brandRed: #E30613;
    --color-brandBg: #F4F7FB;
}